<form [formGroup]="addTaskForm">
	<div class="form-group">
		<label class="center-block">Title:
			<input class="form-control" formControlName="title">
		</label>
	</div>
	<div class="form-group">
		<label class="center-block">Description:
		<input class="form-control" formControlName="description">
		</label>
	</div>
	<div class="form-group">
		<label class="center-block">Assign To:
			<select class="form-control" formControlName="assignedTo">
		    	<option *ngFor="let user of users" [value]="user.id">{{user.username}} ({{user.email}})</option>
		  	</select>
		</label>
	</div>
	<div class="form-group">
		<label class="center-block">Reminder Time:
		<input type="datetime-local" class="form-control" formControlName="reminderTime">
		</label>
	</div>
	<button (click)="onSubmit()" type="button" class="btn btn-success">Submit</button>
</form>
<p>Form value: {{ addTaskForm.value | json }}</p>
<p>Form status: {{ addTaskForm.status | json }}</p>
